.mantismigrate-fixed {
    position: fixed !important;
    bottom: 60vh;
    height: 0;
    z-index: 2000;
    left: 0;
}

.mantismigrate-hidden {
    display: none;
}

.mantismigrate-fixed #githubissue_text {
    height: 25vh;
}

body {
    padding-bottom: 20vh;
}