.mantismigrate-fixed {
    position: fixed !important;
    top: 40px;
    z-index: 2000;
    left: 0;
}

.mantismigrate-hidden {
    display: none;
}

.mantismigrate-fixed #githubissue_text {
    height: 20vh;
}

html {
    /* margin-top: 50vh; */
}